body {
  background-color: #134678;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;  
}

.exp_header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  background-color: rgba(0,0,0, 0.2)
  
}

.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  

.fa-instagram {  
  background: #125688;  
  color: white;  
}  

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
